.container {
    /* set up basic page layout */
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 175px 5fr;

    font: sans-serif;
    color: black;

    /*  make dashboard take up entire screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

p, h1 {
    padding: 0;
    margin: 0;
}




.sidebar {
    background-color: rgb(90, 168, 240);
    grid-column: 1;
    grid-row: 1 / -1;

    /* create nested sidebar grid */
    display: grid;
    grid-template-rows: 100px 250px 150px;
    gap: 20px;
}

.sidebar-header {
    grid-row: 1;
}

.nav1 {
    grid-row: 2;
}

.nav2 {
    grid-row: 3;
}

ul {
    display: grid;
    gap: 16px;
    list-style: none;
}

.sidebar > h1 {
    margin: 0;
    padding: 0;
    position: relative;
    top: 1em;
    left: 1em
}



.header {
    background-color: rgb(252, 252, 252);
    grid-row: 1;
    grid-column: 2;
    padding: 20px;
    
    /* create nested header grid */
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 50px 75px;
    gap: 10px;
}

.searchbar {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="search"] {
    width: 85%;
    appearance: none;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(117, 113, 113);
}

input[type="search"]:focus {
    outline: solid 2px rgb(0, 132, 255);
}

.user {
    grid-column: 2;
    grid-row: 1;

    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.username {
    grid-column: 1;
    grid-row: 2;
    
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    padding-left: 30px;
}

.post {
    grid-column: 2;
    grid-row: 2;

    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
}

button {
    background-color: rgb(64, 123, 179);
    color: white;
    padding: 10px 25px;
    border-radius: 10px;
    border: 1px solid rgb(53, 105, 155);
}



.main-content {
    background-color: rgb(216, 216, 216);
    grid-column: 2;
    grid-row: 2;
}