.container {
    /* set up basic page layout */
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;

    font: sans-serif;
    color: black;

    /*  make dashboard take up entire screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.sidebar {
    background-color: rgb(90, 168, 240);
    grid-column: 1;
    grid-row: 1 / -1;

    /* create nested sidebar grid */
    display: grid;
    grid-template-rows: 100px 250px 150px;
    gap: 20px;
}

.sidebar-header {
    grid-row: 1;
}

.nav1 {
    grid-row: 2;
}

.nav2 {
    grid-row: 3;
}

.nav1 > ul, .nav2 > ul {
    display: grid;
    gap: 16px;
    list-style: none;
}

.header {
    background-color: rgb(252, 252, 252);
    grid-row: 1;
    grid-column: 2;
}

.main-content {
    background-color: rgb(216, 216, 216);
    grid-column: 2;
    grid-row: 2;
}

h1 {
    margin: 0;
    padding: 0;
    position: relative;
    top: 1em;
    left: 1em
}